* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Archivo', sans-serif;
}

nav {
  -moz-box-shadow:     0 10px 10px rgba(0,0,0,.25);
  -webkit-box-shadow:  0 10px 10px rgba(0,0,0,.25);
  box-shadow:          0 10px 10px rgba(0,0,0,.25);
}

.navbar {
  padding: 0px;
}

header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.order-now {
  color: #222;
  text-shadow: 2px 2px 2px #f8f9fa; 
}

.button-gold {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #deca73;
  
}

.bg-gold {
  background:
    -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
}

body {
  background-color: #f8f9fa;
  text-shadow: 2px 2px 2px #000;
}


.vw-100 {
    width: 100vw;
}

.vh-100 {
  height: 100vh;
  
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(222 115 69 / 25%);
}

.bg-transparent{
  background-color:transparent !important;
}

.img-thumbnail {
  -moz-box-shadow:    0 2px 5px rgba(0,0,0,1);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,1);
  box-shadow:         0 2px 5px rgba(0,0,0,1);
  height: 477px;
}

.bg-content{
  -moz-box-shadow:    inset 0 0px 7px rgba(0,0,0,0.75);
  -webkit-box-shadow: inset 0 0px 7px rgba(0,0,0,0.75);
  box-shadow:         inset 0 0px 7px rgba(0,0,0,0.75);
  background-image: url("./prism.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

footer {
  text-shadow: none;
  -moz-box-shadow:    inset 0 10px 10px rgba(0,0,0,.25);
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,.25);
  box-shadow:         inset 0 10px 10px rgba(0,0,0,.25);
}

.bg-footer {
  background-color: #aaaaaa !important;
}

.lead {
  font-weight: 400;
}

.user-image {
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
}
.carousel {
	padding: 0 70px;
}
.carousel-item{
  height: 300px;
}
.carousel .carousel-item {
	color: #222;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #222;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}

#carouselExampleInterval{
  text-shadow: none;
  background-color: #f8f9fa;
  padding-top: 20px;
}

@media only screen and (max-width: 750px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
}

