:root {
  --black: #222;
  --white: #f8f9fa;
}

/* Tags Section */
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--white);
  padding-top: 240px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Archivo', sans-serif;
}

nav {
  -moz-box-shadow:     0 10px 10px rgba(0,0,0,.25);
  -webkit-box-shadow:  0 10px 10px rgba(0,0,0,.25);
  box-shadow:          0 10px 10px rgba(0,0,0,.25);
}

footer {
  -moz-box-shadow:    inset 0 10px 10px rgba(0,0,0,.25);
  -webkit-box-shadow: inset 0 10px 10px rgba(0,0,0,.25);
  box-shadow:         inset 0 10px 10px rgba(0,0,0,.25);
}

/* Classess Section */
.navbar {
  padding: 0px; 
}

.navbar-brand {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.zelle-num, .show-num {
  transition: all 1s ease-in;
}

.zelle-btn:hover {
  cursor: pointer;
}

.order-now {
  color: #222;
  text-shadow: 2px 2px 2px var(--white); 
}

.button-gold {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #deca73;
  
}

.bg-gold {
  z-index: 1;
  background:
    -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
}

.text-shadow {
  text-shadow: 2px 2px 2px #000;
}

.vw-100 {
    width: 100vw;
}

.vh-100 {
  height: 100vh;
  
}

.button-gold:focus {
  box-shadow: 0 0 0 0.25rem rgb(222 115 69 / 25%);
}

.bg-transparent{
  background-color:transparent !important;
}

.bg-content{
  -moz-box-shadow:    inset 0 0px 7px rgba(0,0,0,0.75);
  -webkit-box-shadow: inset 0 0px 7px rgba(0,0,0,0.75);
  box-shadow:         inset 0 0px 7px rgba(0,0,0,0.75);
  background-image: url("./prism.png");
  background-attachment: fixed;
  background-repeat: repeat;
}

.border-none {
  border: none;
}

/* Gallery Section */
.snip1295 {
  position: relative;
  overflow: hidden;
  margin: 7px;
  padding: 6px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
.snip1295 img {
  max-width: 100%;
  vertical-align: top;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  filter: brightness(80%);
}
.snip1295 .border-none {
  position: absolute;
  opacity: 1;
}
.snip1295 .border-none:before,
.snip1295 .border-none:after,
.snip1295 .border-none div:before,
.snip1295 .border-none div:after {
  background-color: #f3bd66;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.snip1295 .border-none:before,
.snip1295 .border-none:after {
  width: 0;
  height: 1px;
}
.snip1295 .border-none div:before,
.snip1295 .border-none div:after {
  width: 1px;
  height: 0;
}
.snip1295 .border-none.gallery-one {
  left: 0;
  top: 0;
  right: 12px;
  bottom: 12px;
}
.snip1295 .border-none.gallery-one:before,
.snip1295 .border-none.gallery-one div:before {
  left: 0;
  top: 0;
}
.snip1295 .border-none.gallery-one:after,
.snip1295 .border-none.gallery-one div:after {
  bottom: 0;
  right: 0;
}
.snip1295 .border-none.gallery-two {
  left: 12px;
  top: 12px;
  right: 0;
  bottom: 0;
}
.snip1295 .border-none.gallery-two:before,
.snip1295 .border-none.gallery-two div:before {
  right: 0;
  top: 0;
}
.snip1295 .border-none.gallery-two:after,
.snip1295 .border-none.gallery-two div:after {
  bottom: 0;
  left: 0;
}
.snip1295 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1295:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.snip1295:hover .border-none:before,
.snip1295.hover .border-none:before,
.snip1295:hover .border-none:after,
.snip1295.hover .border-none:after {
  width: 100%;
}
.snip1295:hover .border-none div:before,
.snip1295.hover .border-none div:before,
.snip1295:hover .border-none div:after,
.snip1295.hover .border-none div:after {
  height: 100%;
}

.gallery-modal-dialog {
  justify-content: center;
}

.gallery-modal-content {
  width: auto;
}

.gallery-modal-dialog img {
  max-height: 60vh;
}

/* FAQ Section */
.accordion {
  margin: 10px auto;
  width: 80%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 200, 200, 0.1);
}

.accordion-button {
  padding-left: 40px;
}

.accordion-item, .accordion-button {
  background-color: #f8f9fa !important;
  border: none;
}

.accordion-button:not(.collapsed) {
  color: rgb(0 128 128);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008080'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  background-color: rgba(0, 200, 200, 0.1) !important;
  padding-left: 40px;
}


/* Testimonials Section */
.user-image {
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
}
.carousel {
	padding: 0 70px;
}
.carousel-item{
  max-height: 420px;
}
.carousel .carousel-item {
	color: var(--black);
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: var(--black);
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
#carouselExampleInterval{
  background-color: var(--white);
  padding-top: 20px;
}

/* Zelle Modal Section */
.zelle-modal-content {
  color: #767797;
  border-radius: 0px;
  border: none; 
  background-image: url('./wood-plank.png'); 
  background-position: left -30% top 29%; 
  background-repeat: no-repeat; 
  background-size:unset;
}

.zelle-modal-header, .zelle-modal-body, .zelle-modal-footer {
  border: none;
}

.zelle-modal-footer {
  text-align: left;
  justify-content: start;
}

.zelle-modal-footer button {
  border-radius: 25px; 
  padding: 10px 20px; 
  background-color: #6d1ed4; 
  color: #59EAB4; 
  border-color: #6d1ed4;
}

.zelle-modal-footer button:hover, .zelle-modal-footer button:focus {
  background-color: #6d1ed4; 
  color: #59EAB4; 
  border-color: #6d1ed4;
  box-shadow: none;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }
}


@media only screen and (max-width: 1100px) {
  #gallery-modal-img{
    max-width: 75vw;
  }
}





